@charset "UTF-8";

.simulation{
    width: 100%;
    height: auto;
    background-position: center;
}

.simulation img {
    width: 25%;
}

.simulation button{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    margin-left: 3%;
    alignment: center;
}

.simulation a{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    margin-left: 3%;
}

.feeders{
    display: inline-block;
    height: 40%;
    width: 100%;
    padding-top: 4%;
}

.feeder{
    height: 100%;
    width: 15%;
    display: inline-block;
    background: url("../img/Alimentador.png") no-repeat ;
    background-size: 30%;
    background-position: center;
}

.feeder img{
    alignment: center;
    height: 100%;
    width: auto;
}

.chickens{
    height: 60%;
    width: 100%;
    padding-bottom: 2%;
    background: url("../img/Cenario.png") no-repeat;
    background-size: 100%;
    background-position: center;
}

.chicken{
    height: auto;
    max-height: 40%;
    width: 15%;
    text-align: center;
    display: inline-block;
}

.chicken img{
    width: 100%;
    height: auto;
    min-height: 80%;
}

.chicken button{
    height: 80%;
    width: 100%;
    background: transparent;
    border: none;
    box-sizing: content-box;
    padding-bottom: 20%;
    alignment: bottom;
    background-size: 100%;
    display: block;
}

.access{
    width: 100%;
    height: 10%;
    display: inline-block;
    alignment: bottom;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bits{
    width: 15%;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
    border: solid;
    display: inline-block;
}
.bits img{
    height: auto;
    width: 20%;
    alignment: center;
    resize: both;
    display: inline-block;
}

.buttons{
    height: auto;
    width: 100%;
}
#scenario {
    width: 100%;
    height: 70%;

}


