@charset "UTF-8";

.simulation{
    width: 100%;
    height: 400px;
    background-position: center;
    margin: auto;
}

.feeders{
    margin: auto;
    display: inline-block;
    height: 25%;
}

.feeder{
    height: 100%;
    width: 205px;
    alignment: center;
    text-align: center;
    display: inline-block;
}
.chickens{
    height: 50%;
}
.chicken{
    height: 100%;
    width: 205px;
    text-align: center;
    display: inline-block;
}

.access{
    width: 100%;
    height: 10%;
}

.access table {
    width: 100%;
    height: 100%;
}




